<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Finder</title>
</head>
<body>
    <h1>Welcome to Dojo Finder</h1>

    <h2>Dojos</h2>
    <ul>
        {% for dojo in dojos %}
        <li>{{dojo.name}} (neighborhood : {{dojo.location}})</li>
        <a href="/dojos/{{dojo.id}}/edit">Edit</a><br>
        <a href="/dojos/{{dojo.id}}/delete">Delete</a><br><br>
        {% endfor %}
    </ul>


    <a href="/dojos/new">Add a your favorite Dojo</a>
    <!-- <h2>Create a new ninja:</h2>
    <form action="/employees"></form> -->
</body>
</html>