<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new dojo</title>
</head>
<body>
    <h1>Add a new dojo</h1>

    <form action="/dojos/create" method="POST">
        Name: <input type="text" name="dojo_name"><br>
        Location: <input type="text" name="dojo_location"><br>
        <input type="submit">
    </form>
    <a href="/">Main Page</a>
</body>
</html>